<form class="needs-validation" novalidate method="POST" accept-charset="utf-8" id="contactForm"
    action="https://forms.dc.scilifelab.se/api/v1/form/-FAZyGOzesRv5i0B/incoming">

    <h3>Contact Form</h3>

    <div class="my-3">
        <label for="nameInput" class="form-label">Your name*</label>
        <input type="text" class="form-control" name="name" id="nameInput" placeholder="first name last name" required>
    </div>

    <div class="mb-3">
        <label for="emailInput" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="emailInput" placeholder="name@example.com"
            aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">
            Add your email address if you would like to be receive a response regarding this matter.
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Select the reason that best describes why you're getting in contact with us.*
        </label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="contactReason" id="flexRadioDefault1"
                value="questionAboutPortal" required aria-label="Question about the Portal">
            <label class="form-check-label" for="flexRadioDefault1">
                Question about the Portal
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="contactReason" id="flexRadioDefault2"
                value="reportAnIssue" aria-label="Report an issue">
            <label class="form-check-label" for="flexRadioDefault2">
                Report an issue
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="contactReason" id="flexRadioDefault3"
                value="suggestAnImprovement" aria-label="Suggest an improvement">
            <label class="form-check-label" for="flexRadioDefault3">
                Suggest an improvement
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="contactReason" id="flexRadioDefault4" value="other"
                aria-label="Other">
            <label class="form-check-label" for="flexRadioDefault4">
                Other
            </label>
        </div>
    </div>

    <div class="mb-3">
        <label for="textareaInput" class="form-label" style="display: block;">
            Please describe your question or suggestion below (max 1000 characters)*
        </label>
        <textarea class="form-control" id="textareaInput" name="description" aria-label="text input" maxlength="1000"
            rows="8" required style="display: block; width: 100%;"></textarea>
    </div>

    <div id="formAlert" class="alert alert-danger mb-3" role="alert" style="display: none;">
        Please fill out all the required fields using appropriate values.
    </div>

    <div class="mb-3">
        <div class="g-recaptcha" id="recaptcha-widget" data-sitekey="6LfLRQMqAAAAACSectjtigWkNvif1G2J8EFlj1nV"></div>
    </div>

    <div id="reCAPTCHAAlert" class="alert alert-danger mb-3" role="alert" style="display: none;">
        Please verify you're not a robot in order to submit the form.
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>


<script>
    const form = document.querySelector('.needs-validation');
    const formAlert = document.getElementById('formAlert');
    const reCAPTCHAAlert = document.getElementById('reCAPTCHAAlert');

    form.addEventListener('submit', function (event) {
        const isFormValid = form.checkValidity();
        const recaptchaValue = $("#g-recaptcha-response").val();

        if (!isFormValid || recaptchaValue === "") {
            event.preventDefault();
            event.stopPropagation();

            if (!isFormValid) {
                form.classList.add('was-validated');
                formAlert.style.display = 'block';
            } else {
                formAlert.style.display = 'none';
            }

            if (recaptchaValue === "") {
                reCAPTCHAAlert.style.display = 'block';
            } else {
                reCAPTCHAAlert.style.display = 'none';
            }
            grecaptcha.reset();

        } else {
            formAlert.style.display = 'none';
            reCAPTCHAAlert.style.display = 'none';
            // Form submission occurs now
        }
    });

</script>
