
{{ $json_file := (split .Params.download_data_path "/") }}
{{ with $data := index .Site.Data $json_file }}

    <div class="table-responsive">
        <table id="annotationTable" class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Data track name</th>
                    <th>Description</th>
                    <th>Links</th>
                    <th>Accession</th>
                    <th>File name</th>
                    <th>Submitter name</th>
                    <th>Principal investigator</th>
                    <th>Submitter affiliation</th>
                    <th>First date on portal</th>
                </tr>
            </thead>
            <tbody>
                {{ range $data }}

                    <tr>
                        <td>{{ .dataTrackName }}</td>
                        <td>{{ .description }}</td>
                        <td>
                            {{ range .links }}
                                {{ range $linkType, $url := . }}
                                    {{ $linkType }}: {{ $url }}<br>
                                {{ end }}
                            {{ end }}
                        </td>
                        <td>{{ .accession }}</td>
                        <td>{{ .fileName }}</td>
                        <td>{{ .submitterName }}</td>
                        <td>
                            {{ .principalInvestigator }}
                            {{ with .principalInvestigatorEmail }}
                            <a href="mailto:{{ . }}" aria-label="Email {{ . }}">
                                    <i class="bi bi-envelope" aria-hidden="true"></i>
                                    <span class="visually-hidden">Email {{ . }}</span>
                                </a>
                            {{ end }}
                        </td>
                        <td>{{ .submitterAffiliation }}</td>
                        <td>{{ .firstDateOnPortal }}</td>
                    </tr>

                {{ end }}
            </tbody>

        </table>
    </div>

{{ else }}
    <p>No download table available for this species.</p>
{{ end }}
