
{{ $json_file := (split .Params.download_data_path "/") }}
{{ with $data := index .Site.Data $json_file }}

    <div class="table-responsive">
        <table id="downloadTable" class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Data track name</th>
                    <th>Description</th>
                    <th>Links</th>
                    <th>Accession</th>
                    <th>File name</th>
                    <th>Submitter name</th>
                    <th>Principal investigator</th>
                    <th>Submitter affiliation</th>
                    <th>First date on portal</th>
                </tr>
            </thead>
            <tbody class="table-responsive">
                {{ range $data }}

                    <tr>
                        <td>{{ .dataTrackName }}</td>
                        <td>{{ .description }}</td>
                        <td>
                            {{ range .links }}
                                {{ range $linkType, $url := . }}

                                    {{ if eq  $linkType "Download"}}
                                        <a href="{{ $url }}" class="btn btn-primary m-2" target="_blank"
                                            role="button" aria-label="Download">
                                            <i class="bi bi-download" aria-hidden="true"></i>
                                            <span class="visually-hidden">Download</span>
                                        </a>

                                    {{ else if eq $linkType "Article"}}
                                        <a href="{{ $url }}" class="btn btn-primary m-2" target="_blank"
                                            role="button">
                                            <i class="bi bi-file-text" aria-hidden="true"></i>
                                            <span class="visually-hidden">Article</span>
                                        </a>

                                    {{ end }}

                                {{ end }}
                            {{ end }}
                        </td>
                        <td>{{ .accession }}</td>
                        <td>{{ .fileName }}</td>
                        <td>{{ .submitterName }}</td>
                        <td>
                            {{ .principalInvestigator }}
                            {{ with .principalInvestigatorEmail }}
                            <a href="mailto:{{ . }}" aria-label="Email {{ . }}">
                                <i class="bi bi-envelope" aria-hidden="true"></i>
                                <span class="visually-hidden">Email {{ . }}</span>
                            </a>
                            {{ end }}
                        </td>
                        <td>{{ .submitterAffiliation }}</td>
                        <td>{{ .firstDateOnPortal }}</td>
                    </tr>

                {{ end }}
            </tbody>

            <caption class="download-table-caption"> <a href="#TODO" target="_blank" >
                <img src="/img/icons/download.svg" alt="Download Icon" class="scilife-icon">
                Download this table in csv format.
            </caption>

            <caption class="download-table-caption"> <a href="#TODO" target="_blank" >
                <img src="/img/icons/download.svg" alt="Download Icon" class="scilife-icon">
                Download the refNameAlias text file used in JBrowse to set the aliases for reference sequence names (e.g., to define that "chr1" is an alias for "1").
            </a></caption>

            <caption class="download-table-caption"> <a href="#" target="_blank" >
                <img src="/img/icons/book_open.svg" alt="Download Icon" class="scilife-icon">
                Glossary
            </a></caption>

        </table>
    </div>

{{ else }}
    <p>No download table available for this species.</p>
{{ end }}


<link href="/Datatables/datatables.min.css" rel="stylesheet">
<script src="/Datatables/datatables.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        new DataTable('#downloadTable', {
            info: false,
            ordering: true,
            paging: false,
            searching: true,
        });
    });
</script>
