{{ $PiCol :=  7 }}

{{ with resources.Get .Params.download_data_path }}
    {{ with . | transform.Unmarshal }}

        {{ $tableData := . }}
        {{ $headers := index $tableData 0 }}
        {{ $data := after 1 $tableData }}

        <div class="table-responsive">
            <table id="annotationTable" class="table table-hover table-bordered">
                <thead class="table-light">
                    <tr>
                        {{ range $headers }}
                            <th scope="col">{{ . }}</th>
                        {{ end }}
                    </tr>
                </thead>
                <tbody>
                    {{ range $data }}
                        <tr>
                            {{ $currentCol := 0 }}
                            {{ range . }}
                                {{ $currentCol = add $currentCol 1 }}


                                {{ if eq $currentCol $PiCol }}
                                    {{ $details := split . "|" }}
                                    {{ $name := index $details 0 }}
                                    {{ $email := index $details 1 }}

                                    <td>{{ $name }}

                                        {{ with $email }}
                                            <a href="mailto:{{ $email }}" aria-label="Email {{ $name }}">
                                                <i class="bi bi-envelope" aria-hidden="true"></i>
                                                <span class="visually-hidden">Email {{ $name }}</span>
                                            </a>
                                        {{ end }}
                                    </td>


                                {{ else }}
                                    <td>{{ . }}</td>
                                {{ end }}

                            {{ end }}
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>

    {{ else }}
        <p>Unable to process the CSV file.</p>
    {{ end }}
{{ else }}
    <p>No download table available for this species.</p>
{{ end }}
