<footer>
    <div class="container-fluid">
        <hr>

        <!-- Site links -->
        <div class="row">
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/species">Browse all species</a></li>
                    <li><a href="/add_genome">Add a genome project</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/about/sv">Information på svenska</a></li>
                    <li><a href="/privacy">Privacy policy</a></li>
                </ul>
            </div>

            <!-- Explaination about the site and more -->
            <div class="col-md-5">
                <ul class="list-unstyled">
                    <li>
                        <p>This site is developed and operated by the SciLifeLab Data Centre.
                            This resource is free to use for all.
                            [TODO something here about who can add data].
                            The code used to create this site is <a
                                href="https://github.com/ScilifelabDataCentre/swedgene/">available on GitHub</a>.
                        </p>
                    </li>
                    <li>
                        <p> Please email <a href="TODO">TODO@TODO.se</a> with questions </p>
                    </li>

                </ul>
            </div>

            <!--bootstrap icons with links to different services -->
            <div class="col-md-2">
                <h2 class="small text-uppercase text-black-50">Stay Updated</h2>
                <ul class="list-unstyled center"></ul>
                <div class="d-flex">
                    <a href="https://www.linkedin.com/company/science-for-life-laboratory/">
                        <i class="bi bi-linkedin mrtb-2" target="_blank" fill="currentColor"
                            style="font-size: 2rem;"></i>
                        <span class="visually-hidden">Visit Scilifelab's linkedin Page</span>
                    </a>
                    <a href="https://twitter.com/scilifelab">
                        <i class="bi bi-twitter-x m-2" target="_blank" fill="currentColor" style="font-size: 2rem;"></i>
                        <span class="visually-hidden">Visit Scilifelab's Twitter Page</span>
                    </a>
                    <a href="TODO">
                        <i class="bi bi-envelope-fill" target="_blank" fill="currentColor" style="font-size: 2rem;"></i>
                        <span class="visually-hidden">Send an email to Scilifelab</span>
                    </a>
                </div>
            </div>

            <!-- Overview of SciLifeLab image -->
            <div class="col-md-3">
                <a class="d-block">
                    <img style="max-width: 300px" src="/img/logos/scilifelab_kaw_unis_etc.png"
                        alt="Logos of SciLifeLab, the Knut and Alice Wallenberg Foundation and SciLifeLab affiliated universities">
                </a>
            </div>


            <hr>

            <!-- Website last updated-->
            <p style="text-align: center;"> Website last updated: {{ now.Format "02 January 2006"}} </p>
            <p style="text-align: center;">
                <a href="https://github.com/ScilifelabDataCentre/swedgene/">The source code for this website is
                    available on GitHub</a>
            </p>


        </div>
</footer>


<!-- Matomo tracking info -->
<!-- <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["disableCookies"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//matomo.dc.scilifelab.se/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', 'TODO']); /* TODO Make sure site ID is added once running on Matomo */
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
</script> -->