<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="/img/logos/evo_biodiv_logo.png"
                alt="The DDLS Evolution and Biodiveristy node's logo"
                style="display: flex; height: 2.5rem; justify-content: center; align-items: center;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse scilife-navbar" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item me-4">
                    <a href="https://www.scilifelab.se">
                        <img src="/img/logos/scilifelab-logo.svg"
                            alt="SciLifeLab logo"
                            style="display: flex; height: 2.5rem; justify-content: center; align-items: center;">
                    </a>
                </li>

                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ .Name }}
                        </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ .URL }}"> All {{ .Title }} </a></li>
                        {{ range .Children }}
                            <li><a class="dropdown-item" href="{{ .URL }}"> {{ .Name }} </a></li>
                        {{ end }}
                    </ul>
                    </li>

                    {{ else }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                    </li>

                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
