{{ $configFile := "" }}
{{ if .IsSection }}
    {{ $configFile = .Params.jbrowse_config | urlize }}
{{ else }}
    {{ $parentPage := .Parent }}
    {{ $configFile = $parentPage.Params.jbrowse_config | urlize }}
{{ end }}
{{ $browserURL := print .Site.BaseURL "genome-browser/?config=" $configFile }}

<div class="row mt-3 mb-3">
    <div class="col-12 scilife-subsection text-center">
        <a href="{{ $browserURL }}" target="_blank">
            <button class="btn btn-lg" title="open the genome browser in a new tab">
                Click here to open the genome browser
                <i class="bi bi-box-arrow-up-right"></i>
            </button>
        </a>
    </div>
</div>
