<!--- builds the url with the config file for the species included -->
{{ $configFile := "" }}
{{ $sectionPath := "" }}

{{ if .IsSection }}
    {{ $sectionPath = .RelPermalink }}
{{ else }}
    {{ $parentPage := .Parent }}
    {{ $sectionPath = $parentPage.RelPermalink }}
{{ end }}

{{ $sectionName := path.Base $sectionPath }}
{{ $configFile = print "/data/" $sectionName "/config.json" | urlize }}
{{ $browserURL := print (relURL "genome-browser/") "?config=" $configFile }}

<div class="row mt-3 mb-3">
    <div class="col-12 scilife-subsection text-center">
        <a href="{{ $browserURL }}" target="_blank">
            <button class="btn btn-lg" title="open the genome browser in a new tab">
                Browse the genome
                <img src="/img/icons/open_new_tab_white.svg" alt="Open in new tab Icon" class="scilife-icon-lg">
            </button>
        </a>
    </div>
</div>
