{{ $current_page := .Page }}
{{ $currentSection := .Section }}

<ul class="nav nav-tabs nav-justified scilife-speices-nav">
    <li class="nav-item">
        {{ $indexPage := .CurrentSection }}

        {{ if eq .Page $indexPage }}
            <a class="nav-link active" href="{{ $indexPage.RelPermalink }}"> Description </a>
        {{ else }}
            <a class="nav-link" href="{{ $indexPage.RelPermalink }}"> Description </a>
        {{ end }}

    </li>
    {{ range where .CurrentSection.Pages "Section" $currentSection }}
    <li class="nav-item">

        {{ if eq $current_page .Page }}
            <a class="nav-link active" href="{{ .RelPermalink }}"> {{ .Name }} </a>
        {{ else }}
            <a class="nav-link" href="{{ .RelPermalink }}"> {{ .Name }} </a>
        {{ end }}

    </li>
    {{ end }}
</ul>
