{
    "defaults": {
        "standard": "WCAG2AA",
        "level": "error",
        "chromeLaunchConfig": {
            "args": ["--disable-dev-shm-usage", "--no-sandbox"],
            "executablePath": "/usr/bin/google-chrome",
            "ignoreHTTPSErrors": true,
            "args": ["--disable-dev-shm-usage", "--no-sandbox"]
        },
        "hideElements": "header.scilife-banner h1, #matoOpOut"
    },
    "concurrency": 2
}