.#*
\#*

/data/**/*gff*
/data/**/*fna*
/data/**/config.json
dl_list

# Hugo default output directory
hugo/public

# more Hugo stuff
hugo/.hugo_build.lock

# OSX
*.DS_Store

# backups
*~
\#*\#

# python 
__pycache__/
*.py[cod]

# vscode
.vscode/