.#*
\#*

/data

# Hugo data directory - from make install 
hugo/static/data/**/*.bgz*
hugo/static/data/**/*gff*

# Hugo default output directory
hugo/public

# more Hugo stuff
hugo/.hugo_build.lock

# OSX
*.DS_Store

# backups
*~
\#*\#

# python 
__pycache__/
*.py[cod]

# vscode
.vscode/

# make
.downloads
targets.mk