{{ define "main" }}


  <h2>Featured species</h2>
  <h3>Aspergillus Nidulans</h3>
  <ul class="org-ul">
    <li>Facts</li>
    <li><a href="/browser/?config=/data/aspergillus_nidulans/config.json">Browse</a></li>
    <li>Links
      <ul class="org-ul">
	<li><a href="https://hgdownload.soe.ucsc.edu/hubs/GCF/000/011/425/GCF_000011425.1/">GenArk assembly hub</a></li>
	<li><a href="https://ftp.ncbi.nlm.nih.gov/genomes/refseq/fungi/Aspergillus_nidulans/latest_assembly_versions/GCF_000011425.1_ASM1142v1/">NCBI RefSeq assembly</a></li>
      </ul>
    </li>
  </ul>


  <h4>Assembly</h4>

  <table border="2" cellspacing="0" cellpadding="6">
    <thead>
      <tr>
	<th>Name</th>
	<th>Accession</th>
	<th>Source</th>
	<th>Format</th>
	<th>Data location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>ASM1142v1</td>
	<td>GCF_000011425.1</td>
	<td>NCBI RefSeq</td>
	<td>2bit</td>
	<td><a href="https://hgdownload.soe.ucsc.edu/hubs/GCF/000/011/425/GCF_000011425.1/GCF_000011425.1.2bit">UCSC GenArk</a></td>
      </tr>
    </tbody>
  </table>


  <h4>Tracks</h4>

  <table border="2" cellspacing="0" cellpadding="6">
    <thead>
      <tr>
	<th>Name</th>
	<th>Source</th>
	<th>Format</th>
	<th>Data location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>RefSeq annotations</td>
	<td>NCBI RefSeq</td>
	<td>GFF</td>
	<td>local</td>
      </tr>
      <tr>
	<td>UCSC track hub</td>
	<td>UCSC GenArk</td>
	<td>trackDb.txt</td>
	<td><a href="https://hgdownload.soe.ucsc.edu/hubs/GCF/000/011/425/GCF_000011425.1/hub.txt">hub.txt</a></td>
      </tr>
    </tbody>
  </table>





  <h3>Clupea Harengus</h3>

    <ul class="org-ul">
      <li>Facts</li>
      <li><a href="/browser/?config=/data/clupea_harengus/config.json">Browse</a></li>
    </ul>

    <h4>Assembly</h4>

      <table border="2" cellspacing="0" cellpadding="6">

	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Accession</th>
	    <th>Source</th>
	    <th>Format</th>
	    <th>Data location</th>
	  </tr>
	</thead>

	<tbody>
	  <tr>
	    <td>Ch_v2.0.2</td>
	    <td>GCF_900700415.2</td>
	    <td>NCBI RefSeq</td>
	    <td>2bit</td>
	    <td>GenArk <a href="https://hgdownload.soe.ucsc.edu/hubs/GCF/900/700/415/GCF_900700415.2/GCF_900700415.2.2bit">GCF_900700415.2.2bit</a></td>
	  </tr>
	</tbody>
      </table>

    <h4>Tracks</h4>

      <table border="2" cellspacing="0" cellpadding="6">
	
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Source</th>
	    <th>Format</th>
	    <th>Data location</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>UCSC track hub</td>
	    <td>UCSC GenArk</td>
	    <td>trackDb.txt</td>
	    <td><a href="https://hgdownload.soe.ucsc.edu/hubs/GCF/900/700/415/GCF_900700415.2/hub.txt">hub.txt</a></td>
	  </tr>
	</tbody>
      </table>
{{ end }}
