{{ define "main" }}

<!-- markdown file content here -->
<div class="row scilife-subsection">
    {{ .Content }}
</div>

<!-- sort species and search box -->
<div class="row mb-4 justify-content-center">
    <div class="col-12 col-md-4 col-lg-3 col-xl-2 mb-2">
        <div class="dropdown">
            <button class="btn btn-lg scilife-sort-dropdown dropdown-toggle"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-clock"></i> Last updated
            </button>
            <ul class="dropdown-menu">
                <li>
                    <div id="Updated" role="button" class="dropdown-item scilife-dropdown-item active">
                        <i class="bi bi-clock"></i> Last updated
                    </div>
                </li>
                <li>
                    <div id="Alphabet" role="button" class="dropdown-item scilife-dropdown-item">
                        <i class="bi bi-sort-alpha-down"></i> Name (A to Z)
                    </div>
                </li>
                <li>
                    <div id="RevAlphabet" role="button" class="dropdown-item scilife-dropdown-item">
                        <i class="bi bi-sort-alpha-up"></i> Name (Z to A)
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-md-8 col-lg-9 col-xl-10">
        <!-- Note: text color seemed to only work if set here, it's scilifelab grape -->
        <div class="input-group">
            <input type="text" id="Search" class="form-control scilife-search-box"
                placeholder="Start typing to filter the species below..."
                style="color:#491F53;" aria-label="Search">
            <span class="input-group-text scilife-search-icon" title="Start typing to search">
                <img src="/img/icons/search_grape.svg" alt="Search Icon" class="scilife-icon-lg">
            </span>
        </div>
    </div>
</div>


<!-- Species cards -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-4" id="card-container">
    {{ $species := .Site.GetPage "section" "Species" }}
    {{ range $species.Sections }}
    <div class="col">
        <div class="card h-100 scilife-species-card">
            <div class="card-image">
                <figure>
                    <a href="{{ .RelPermalink }}" title="Go to the {{ .Title | markdownify }} page">
                        <img src="{{ .Params.cover_image }}" class="card-img-top"
                            alt="Image of {{ .Title | markdownify }}">
                    </a>

                    <a href="{{ .Params.img_attrib_link }}" title="Go to the image source" target="_blank">
                        <figcaption class="scilife-card-image-attrib"> {{ .Params.img_attrib_text }} </figcaption>
                    </a>
                </figure>
            </div>

            <div class="card-body">
                <h2 class="card-title" id="science-name">{{ .Title | markdownify }}</h2>
                <h3 class="card-title" id="common-name">{{ .Params.subtitle | markdownify }}</h3>
                <p class="card-text">{{ .Summary }}</p>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <p class="card-text mb-0 mt-auto">Last updated: {{ .Params.last_updated }}</p>
                <!-- The date below is hidden because used only in the sorting algo for easier date parsing -->
                <div class="hidden-date" style="display: none;">{{ .Params.last_updated }}</div>

                <a href="{{ .RelPermalink }}" class="btn btn-primary scilife-species-button"
                    title="Click here to view the {{ .Title | markdownify }}">
                    <i class="bi bi-arrow-right" style="font-size: 1.25em;"></i>
                </a>
            </div>

        </div>
    </div>
    {{ end }}

</div>

<!-- shows if no search results -->
<div id="no-filtered-card" class="alert alert-primary" style="display: none;" role="alert">
    No results found with your search term
</div>



<script>
    const speciesCards = Array.from(document.querySelectorAll('.scilife-species-card'));

    function sortAlphabetically(a, b) {
        const titleA = $(a).find('#science-name').text();
        const titleB = $(b).find('#science-name').text();
        return titleA.localeCompare(titleB);
    }

    function sortRevAlphabetically(a, b) {
        const titleA = $(a).find('#science-name').text();
        const titleB = $(b).find('#science-name').text();
        return titleB.localeCompare(titleA);
    }

    // All dates have DD/MM/YYYY format but
    // JS Dates object need standard define in stringToDate function
    function stringToDate(str) {
        const [dd, mm, yyyy] = str.split('/');
        return new Date(yyyy, mm - 1, dd);
    }

    function sortUpdated(a, b) {
        const dateStrA = $(a).find('.hidden-date').text();
        const dateStrB = $(b).find('.hidden-date').text();

        const dateA = stringToDate(dateStrA);
        const dateB = stringToDate(dateStrB);
        return dateB - dateA;
    }

    function searchAndFilter() {
        const searchText = document.querySelector("#Search").value.toLowerCase();
        const AlphabetSet = document.querySelector("#Alphabet").classList.contains("active");
        const RevAlphabetSet = document.querySelector("#RevAlphabet").classList.contains("active");
        const UpdatedSet = document.querySelector("#Updated").classList.contains("active");

        document.querySelector("#card-container").innerHTML = "";
        let cardsToAppend = [];

        if (searchText === "") {
            cardsToAppend = speciesCards.slice();
        } else {
            cardsToAppend = speciesCards.filter(function (card) {
                const title = card.querySelector('#science-name').textContent.toLowerCase();
                const subtitle = card.querySelector('#common-name').textContent.toLowerCase();
                const cardText = card.querySelector('.card-text').textContent.toLowerCase();
                return title.includes(searchText) || subtitle.includes(searchText) || cardText.includes(searchText);
            });
        }

        if (cardsToAppend.length === 0) {
            document.querySelector("#no-filtered-card").style.display = 'block';
        } else {
            document.querySelector("#no-filtered-card").style.display = 'none';

            if (RevAlphabetSet) {
            cardsToAppend.sort(sortRevAlphabetically);
            }
            else if (UpdatedSet) {
                cardsToAppend.sort(sortUpdated);
            }
            else {
                cardsToAppend.sort(sortAlphabetically)
            }

            cardsToAppend.forEach(function (card) {
                document.querySelector("#card-container").appendChild(card.parentElement);
            });
        }
    }

    // Event listeners for sorting buttons and then search box
    const sortingButtons = ["Alphabet", "RevAlphabet", "Updated"];
    sortingButtons.forEach(buttonId => {
        document.getElementById(buttonId).addEventListener("click", function() {
            sortingButtons.forEach(id => document.getElementById(id).classList.remove("active"));
            this.classList.add("active");

            // (Update the dropdown text with selected item)
            const dropdown = document.querySelector(".scilife-sort-dropdown");
            const sortOptionSelected = this.textContent.trim();
            const iconMapping = {
                'Name (A to Z)': 'bi-sort-alpha-down',
                'Name (Z to A)': 'bi-sort-alpha-up',
                'Last updated': 'bi-clock'
            };
            const icon = iconMapping[sortOptionSelected];

            dropdown.textContent = sortOptionSelected;
            dropdown.innerHTML = `<i class="bi ${icon}"></i> ` + sortOptionSelected;

            searchAndFilter();
        });
    });

    // Event listners for when page fully loaded or search box input
    document.addEventListener("DOMContentLoaded", searchAndFilter);
    document.querySelector("#Search").addEventListener("input", searchAndFilter);

</script>

{{ end }}
