{{ define "main" }}

<div class="container mt-3">
    <div class="scilife-contrib-border">

        <div class="row justify-content-center mx-3">
            <div class="col-auto">
                <div class="scilife-contrib-mainheader">
                    <h2>How to add your data to the portal</h2>
                </div>
            </div>
        </div>

        <div class="row mx-2 mt-2">
            <div class="col-lg-6">
                <h3 class="scilife-contrib-subheader">Option A: Submit via Pull Request</h3>

                <div class="row justify-content-start mt-3">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="col-auto align-self-start">
                            <span class="scilife-numbered-circle">1</span>
                        </div>
                        <div class="col ms-3">
                            <p class="scilife-contrib-subtext">
                                Download the <a
                                    href="https://raw.githubusercontent.com/ScilifelabDataCentre/genome-portal/main/species_submission/submission_form_templates/01-species-submission_v1.3.docx"
                                    target="_blank">species submission form</a> and the <a
                                    href="https://raw.githubusercontent.com/ScilifelabDataCentre/genome-portal/main/species_submission/submission_form_templates/02-data-tracks_v1.3.xlsx"
                                    target="_blank">data tracks form</a> and fill them in.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-start mt-2">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="col-auto align-self-start">
                            <span class="scilife-numbered-circle">2</span>
                        </div>
                        <div class="col ms-3">
                            <p class="scilife-contrib-subtext">
                                Fork the repository and follow our <a
                                    href="https://github.com/ScilifelabDataCentre/genome-portal/blob/main/species_submission/how_to_submit_through_pull_request.md"
                                    target="_blank">guide to generate your species pages</a>.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-start mt-2">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="col-auto align-self-start">
                            <span class="scilife-numbered-circle">3</span>
                        </div>
                        <div class="col ms-3">
                            <p class="scilife-contrib-subtext">
                                Open a Pull Request for the Genome Portal team to review.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
                <h3 class="scilife-contrib-subheader">Option B: Submit via email</h3>

                <div class="row justify-content-start mt-3">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="col-auto align-self-start">
                            <span class="scilife-numbered-circle">1</span>
                        </div>
                        <div class="col ms-3">
                            <p class="scilife-contrib-subtext">
                                Download the <a
                                    href="https://raw.githubusercontent.com/ScilifelabDataCentre/genome-portal/main/species_submission/submission_form_templates/01-species-submission_v1.3.docx"
                                    target="_blank">species submission form</a> and the <a
                                    href="https://raw.githubusercontent.com/ScilifelabDataCentre/genome-portal/main/species_submission/submission_form_templates/02-data-tracks_v1.3.xlsx"
                                    target="_blank">data tracks form</a> and fill them in.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-start mt-2">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="col-auto align-self-start">
                            <span class="scilife-numbered-circle">2</span>
                        </div>
                        <div class="col ms-3">
                            <p class="scilife-contrib-subtext">
                                Email the completed forms to <a
                                    href="mailto:srgp@scilifelab.se">srgp@scilifelab.se</a>.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-start mt-2">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="col-auto align-self-start">
                            <span class="scilife-numbered-circle">3</span>
                        </div>
                        <div class="col ms-3">
                            <p class="scilife-contrib-subtext">
                                Our developers and data stewards will set up your data in the portal for you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mx-3 mt-4">
            <div class="col-auto">
                <p class="scilife-contrib-subtext">
                    Questions at any stage? Email us any time at <a
                        href="mailto:srgp@scilifelab.se">srgp@scilifelab.se</a>.
                </p>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-auto">
                <span class="scilife-contrib-enjoy-subtext">Enjoy!</span>
            </div>
        </div>
    </div>
</div>



<div class="container mt-3">
    <div class="row">
        <div class="col scilife-subsection mt-3">
            {{ .Content }}
        </div>
    </div>

    {{ partial "last_updated.html" . }}
</div>

{{ end }}
