<!doctype html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body class="d-flex flex-column min-vh-100">
        {{- partial "navbar.html" . -}}
        {{- partial "banner.html" . -}}

        {{ $isGenomePage := eq .RelPermalink "/genome-browser/" }}
        {{ if and (not $isGenomePage) (not .IsHome) }}
            {{- partial "breadcrumbs.html" . -}}
        {{ end }}

        {{- block "header" . }}{{- end }}
        <main>

            {{ if $isGenomePage }}
                <div class="container-fluid" id="content"> <!-- means browser can use full screen width -->
            {{ else }}
                <div class="container" id="content">
            {{ end }}

                {{ if .Params.toc }}
                    <div class="row">
                        <div class="col-md-3 order-md-first toc small">{{- partial "toc.html" . -}}</div>
                        <div class="col-md-9 order-md-last content" id="content">{{- block "main" . }}{{- end }}</div>
                    </div>
                {{ else }}
                    {{- block "main" . }}{{- end }}
                {{ end }}
            </div>
        </main>

        {{ if not $isGenomePage }}
            <br>
            {{- partial "footer.html" . -}}
        {{ end }}
    </body>
</html>
