@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); */


/* Brand colors */
:root {
  --scilife-lime: #a7c947;
  --scilife-lime-075: #BDD775;
  --scilife-lime-050: #D3E4A3;
  --scilife-lime-025: #E9F2D1;

  /* Grape should be used modestly as a 'color pop' or on smaller details */ 
  --scilife-grape: #491F53;
  --scilife-grape-075: #77577E;
  --scilife-grape-050: #A48FA9;
  --scilife-grape-025: #D2C7D4;

  --scilife-teal: #045C64;
  --scilife-teal-075: #43858B;
  --scilife-teal-050: #82AEB2;
  --scilife-teal-025: #C0D6D8;

  --scilife-aqua: #4C979F;
  --scilife-aqua-075: #79B1B7;
  --scilife-aqua-050: #A6CBCF;
  --scilife-aqua-025: #D2E5E7;

  --scilife-light-grey: #E5E5E5;
  --scilife-medium-grey: #A6A6A6;
  --scilife-dark-grey: #3F3F3F;
} 


body {
  font-family: "Lato", Times, Arial;
}


.scilife-navbar {
  background-color: var(--scilife-lime-050);
  font-size: 1.25rem;
}

.scilife-breadcrumbs {
  font-size: 1.25rem;
  background-color: var(--scilife-light-grey);
}

.scilife-speices-nav {
  font-size: 1.25rem;
}

.scilife-card-image-attrib {
  font-style: italic;
  font-size: 0.8em;
  margin-left: 1em;
}

.scilife-species-card {
  border-color: var(--scilife-lime);
  display: flex;
  flex-wrap: wrap;
}

.scilife-reset-button {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  background-color: var(--scilife-grape);
  border-color: var(--scilife-grape);
  color: white;
}

.scilife-species-button {
  font-size: 1.2em;
  background-color: var(--scilife-lime);
  border-color: var(--scilife-lime);
}


.scilife-species-tag {
  font-size: 0.8em;
  background-color: #fcfcfc;
  border-color: var(--scilife-lime);
}

.scilife-species-tag:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

