@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); */


/* Brand colors */
:root {
  --scilife-lime: #a7c947;
  --scilife-lime-075: #BDD775;
  --scilife-lime-050: #D3E4A3;
  --scilife-lime-025: #E9F2D1;

  /* Grape should be used modestly as a 'color pop' or on smaller details */ 
  --scilife-grape: #491F53;
  --scilife-grape-075: #77577E;
  --scilife-grape-050: #A48FA9;
  --scilife-grape-025: #D2C7D4;

  --scilife-teal: #045C64;
  --scilife-teal-075: #43858B;
  --scilife-teal-050: #82AEB2;
  --scilife-teal-025: #C0D6D8;

  --scilife-aqua: #4C979F;
  --scilife-aqua-075: #79B1B7;
  --scilife-aqua-050: #A6CBCF;
  --scilife-aqua-025: #D2E5E7;

  --scilife-light-grey: #E5E5E5;
  --scilife-medium-grey: #A6A6A6;
  --scilife-contrast-okay-grey: #727272;
  --scilife-dark-grey: #3F3F3F;
} 


body {
  font-family: "Lato", Times, Arial;
}


.form-control:focus {
  border-color: var(--scilife-lime);
  box-shadow: 0 0 0 0.2rem rgba(167, 201, 71, 0.25); 
}  

.scilife-navbar {
  font-size: 1.25rem;
  color: var(--scilife-aqua);
  font-weight: 700;
  letter-spacing: 0.045rem;
}

.scilife-navbar li a {
  color: var(--scilife-aqua);
}


.scilife-banner {
  background-color: var(--scilife-grape);
  font-size: 1.25rem;
  display: flex;
  padding: 1.5rem 0rem;
  justify-content: center;
  align-items: center;
}

.scilife-banner h1 {
  color: #FFF;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.06rem;
}

.scilife-breadcrumbs {
  font-size: 1.125rem;
  font-weight: 500; 
  letter-spacing: 0.045rem; 
  color: var(--scilife-contrast-okay-grey)
}

.scilife-breadcrumbs a {
  color: var(--scilife-contrast-okay-grey); 
}


.scilife-speices-nav {
  font-size: 1.25rem;
  color: black;
}

.scilife-species-titles h1 {
  font-size: 3rem; 
  font-weight: 700; 
  letter-spacing: -0.06rem;
}

.scilife-species-titles h2 {
  color: var(--scilife-contrast-okay-grey);
  font-size: 2.5rem; 
  font-weight: 700; 
  letter-spacing: -0.05rem;
}

.scilife-species-titles h3 {
  color: var(--scilife-grape);
  font-size: 2rem; 
  font-weight: 700; 
  letter-spacing: -0.04rem;
}


.scilife-species-card {
  border-color: var(--scilife-light-grey);
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.scilife-species-card .card-body { 
  padding: 0rem;
}

.scilife-species-card h2 {
  color: #222;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
}

.scilife-species-card h3 {
  color: var(--scilife-dark-grey);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
}

.scilife-species-card p {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.0625rem;
}

.scilife-card-image-attrib {
  font-style: italic;
  font-size: 0.8rem;
}

.scilife-species-button {
  font-size: 1.2rem;
  align-self: flex-end;
  margin-left: auto;
  color: var(--scilife-aqua);
  background-color: white;
  border-color: var(--scilife-aqua);
}

.scilife-species-button:hover {
  color: white;
  background-color: var(--scilife-aqua);
  border-color: var(--scilife-aqua);
}


.scilife-intro-map-img {
  width: auto;
  height: 400px;
}

/* For mobile devices */
@media (max-width: 576px) {
  .scilife-intro-map-img {
      max-height: 300px;
  }
}
/* For tablets */
@media (min-width: 577px) and (max-width: 992px) {
  .scilife-intro-map-img {
      max-height: 350px;
  }
}

/* For laptops */
@media (min-width: 993px) and (max-width: 1199px) {
  .scilife-intro-map-img {
      max-height: 330px;
  }
}

/* For larger screen */
@media (min-width: 1400px) { 
  .scilife-intro-map-img {
      height: 450px;
  }
}


.scilife-subsection h3 {
  color: var(--scilife-teal);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
}

.scilife-subsection h4 {
  color: var(--scilife-teal);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
}

.scilife-subsection p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.575rem;
}

.scilife-subsection .btn {
  background-color: var(--scilife-teal);
  border-color: var(--scilife-teal);
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.045rem; 
}

/* Overrides default button */
.scilife-subsection .scilife-ncbi-ena-btn {
  background-color: var(--scilife-grape);
  border-color: var(--scilife-grape);
}

/* Overrides default button */
.scilife-subsection .scilife-external-btn {
  background-color: var(--scilife-lime-025);
  border-color: var(--scilife-medium-grey);
  border-radius: 0.5rem; 
  color: black;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.045rem; 
}

.scilife-alert {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: var(--scilife-lime-025);
  border-color: var(--scilife-lime-025);
}

.scilife-alert a {
  color: var(--scilife-grape);
}


.scilife-search-box {
  padding: 0.4rem;
  border-radius: 0.4rem;
  background: var(--scilife-teal-025);
}

.last-updated_text {
  margin-top: 3rem;
  margin-bottom: 0rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--scilife-contrast-okay-grey);
  text-align: center;
}




/* privacy optout */
iframe#matoOpOut {
  padding: 0.5rem;
  background-color: #f8f9fa;
  width: 100%;
  border-width: 0.05rem;
  border-style: solid;
  border-radius: 0.3rem;
  border-color:  var(--scilife-dark-grey);
}

/* Styles for different screen sizes */
@media (max-width: 412px)  { iframe#matoOpOut { height: 25vh; } }
@media (max-width: 479px)  { iframe#matoOpOut { height: 20vh; } }
@media (min-width: 480px)  { iframe#matoOpOut { height: 14vh; } }
@media (min-width: 600px)  { iframe#matoOpOut { height: 13vh; } }
@media (min-width: 768px)  { iframe#matoOpOut { height: 12vh; } }
@media (min-width: 1024px) { iframe#matoOpOut { height: 10vh; } }
