{{ define "main" }}

<!-- Find all unique tags in the child pages, can be used later for filtering -->
{{ $tags := slice }}
{{ range .Page.Pages }}
    {{ range .Params.tags }}

        {{ $tags = $tags | append . }}
    {{ end }}
{{ end }}
{{ $uniq_tags := $tags | uniq }}

<!-- markdown file content here -->
{{ .Content }}

<!-- Display all species -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    {{ $species := .Site.GetPage "section" "Species" }}
    {{ range $species.Sections }}
        <div class="col">
            <div class="card h-100 border-primary mb-3">
                <figure>
                    <a href="{{ .Permalink }}" title="Go to the {{ .Title }} page">
                        <img src="{{ .Params.cover_image }}" class="card-img-top" alt="Image of species">
                    </a>

                    <a href="{{ .Params.img_attrib_link }}" title="Go to the image source" target="_blank">
                        <figcaption class="scilife-card-image-attrib"> {{ .Params.img_attrib_text }} </figcaption>
                    </a>
                </figure>

                <div class="card-body">
                    <h3 class="card-title">{{ .Title }}</h3>
                    <p class="card-text">{{ .Summary }}</p>
                    <a href="{{ .Permalink }}" class="btn btn-primary">Go to {{ .Title }}</a>
                </div>

            </div>
        </div>
    {{ end }}
</div>


{{ end }}
