{{ define "main" }}

<!-- Find all unique tags in the child pages, can be used later for filtering -->
{{ $tags := slice }}
{{ range .Page.Pages }}
{{ range .Params.tags }}

{{ $tags = $tags | append . }}
{{ end }}
{{ end }}
{{ $uniq_tags := $tags | uniq }}


<!-- markdown file content here -->
{{ .Content }}

<!-- Search box -->
<div class="col scilife-search-box">
    <div class="input-group">
        <input type="text" id="Search" class="form-control" placeholder="Start typing to filter the species shown.">
        <label class="form-control-label" for="Search" aria-labelledby="Search">
    </div>
</div>


<!-- Species cards -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="card-container">
    {{ $species := .Site.GetPage "section" "Species" }}
    {{ range $species.Sections }}
    <div class="col">
        <div class="card h-100 mb-3 scilife-species-card" data-tags='{{ delimit .Params.tags "," }}'>
            <figure>
                <a href="{{ .Permalink }}" title="Go to the {{ .Title }} page">
                    <img src="{{ .Params.cover_image }}" class="card-img-top" alt="Image of {{ .Title }}">
                </a>

                <a href="{{ .Params.img_attrib_link }}" title="Go to the image source" target="_blank">
                    <figcaption class="scilife-card-image-attrib"> {{ .Params.img_attrib_text }} </figcaption>
                </a>
            </figure>

            <div class="card-body">
                <h3 class="card-title">{{ .Title }}</h3>
                <p class="card-text">{{ .Summary }}</p>
                <a href="{{ .Permalink }}" class="btn btn-primary scilife-species-button">Go to {{ .Title }}</a>

            </div>
            <div class="card-footer">
                {{ if .Params.tags }}
                <div>
                    {{ range .Params.tags }}
                    <button class="btn tag-button scilife-species-tag" data-tag="{{ . }}">{{ . }}</button>
                    {{ end }}
                </div>
                {{ end }}
            </div>

        </div>
    </div>
    {{ end }}

</div>

<!-- shows if no search results -->
<div id="no-filtered-card" class="alert alert-primary" style="display: none;" role="alert">
    No results found with your search term
</div>



<script>
    function searchAndFilter() {
        var searchText = $("#Search").val().toLowerCase();

        $(".card").hide();

        if (searchText === "") {
            $(".card").show();
        } else {
            var selectedCards = [];
            $(".card").each(function () {
                var $this = $(this);
                var title = $this.find('.card-title').text().toLowerCase();
                var cardText = $this.find('.card-text').text().toLowerCase();
                var speciesTag = $this.find('.scilife-species-tag').text().toLowerCase();

                var conditionsArray = [
                    title.includes(searchText),
                    cardText.includes(searchText),
                    speciesTag.includes(searchText)
                ];

                if (conditionsArray.includes(true)) {
                    selectedCards.push(this);
                }
            });

            if (selectedCards.length > 0) {
                selectedCards.forEach(function (card) {
                    $(card).show();
                });
            } else {
                $("#no-filtered-card").show();
            }
        }
    }

    $("#Search").on("input", searchAndFilter);
</script>


{{ end }}
