{{ define "main" }}

{{ partial "species_nav.html" . }}


<div class="container">
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>

    <!-- assembly data table -->
    <div class="row">
        <div class="col">
            <h2>Assembly Data</h2>
        </div>
    </div>
    {{ if .Params.assembly_data_path }}
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table id="assemblyTable" class="table table-hover table-bordered" width="100%">

                    <thead class="table-light">
                        <tr>
                        <th scope="col">Header 1 </th>
                        <th scope="col">Header 2</th>
                        </tr>
                    </thead>
                    {{ $assembly_file := (split .Params.assembly_data_path "/") }}
                    {{ $assembly_dict := index .Site.Data $assembly_file }}
                    <tbody class="table-responsive">
                        {{ range $key, $value := $assembly_dict }}
                            <tr>
                                <td> {{ $key }} </td>
                                <td> {{ $value }} </td>
                            </tr>
                        {{ end }}
                    </tbody>
                    
                    </table>
                </div>
            </div>
        </div>

    {{ else }}
        <div class="row">
            <div class="col">
                <p> No assembly data has been provided for this species </p>
            </div>
        </div>
    {{ end }}



    <!-- annotation data table -->
    <div class="row">
        <div class="col">
            <h2>Annotation Data</h2>
        </div>
    </div>
    {{ if .Params.annotation_data_path }}
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table id="annotationTable" class="table table-hover table-bordered" width="100%">

                    <thead class="table-light">
                        <tr>
                        <th scope="col">Header 1 </th>
                        <th scope="col">Header 2</th>
                        </tr>
                    </thead>
                    {{ $assembly_file := (split .Params.annotation_data_path "/") }}
                    {{ $assembly_dict := index .Site.Data $assembly_file }}
                    <tbody class="table-responsive">
                        {{ range $key, $value := $assembly_dict }}
                            <tr>
                                <td> {{ $key }} </td>
                                <td> {{ $value }} </td>
                            </tr>
                        {{ end }}
                    </tbody>
                    
                    </table>
                </div>
            </div>
        </div>

    {{ else }}
        <div class="row">
            <div class="col">
                <p> No annotation data has been provided for this species </p>
            </div>
        </div>
    {{ end }}
</div>





<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>

<script>
    $(document).ready( function () {
        $('#assemblyTable').DataTable({
      paging: false,
      info: false,
      searching: false,
    });
        $('#annotationTable').DataTable({
      paging: false,
      info: false,
      searching: false,
    });
    } );
</script>



{{ end }}

