{{ define "main" }}

{{ partial "species_title.html" . }}

{{ partial "species_nav.html" . }}

<!-- YAML file with assembly and annotation data per species -->
{{ $stats_file := (split .Params.stats_data_path "/") }}
{{ $stats_contents := index .Site.Data $stats_file }}

<!-- Get links to ENA and NCBI for the species -->
{{ $.Scratch.Add "accession" "" }}
{{ range .Params.key_info }}
    {{ if isset . "Accession" }}
        {{ $.Scratch.Set "accession" .Accession }}
    {{ end }}
{{ end }}
{{ $accession := $.Scratch.Get "accession" }}

{{ $ena_link := print "https://www.ebi.ac.uk/ena/browser/view/" $accession }}
{{ $ncbi_link := print "https://www.ncbi.nlm.nih.gov/datasets/genome/" $accession }}


<!-- break down content into 2 parts based on divider ... -->
{{ $content := split .Content "|||||| Content divider - do not remove ||||||" }}
{{ $contentp1 := index $content 0 }}
{{ $contentp2 := index $content 1 }}


<div class="container mt-3">

    <!-- Open link in new tab species browser -->
    {{- partial "open_browser.html" . -}}

    <div class="row align-items-center">
        <div class="col-md scilife-subsection">
            <h3>Description</h3>
            <ul style="font-size: 1.125rem;">
                {{ range .Params.key_info }}
                    {{ range $key, $value := . }}
                        <li><strong>{{ $key }}:</strong> {{ $value }}</li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="col-md scilife-subsection text-md-center">
            <div class="mb-3">
                <a href="{{ $ena_link }}" target="_blank">
                    <button class="btn btn-lg scilife-ncbi-ena-btn">
                        Open assembly record in the ENA <i class="bi bi-box-arrow-up-right"></i>
                    </button>
                </a>
            </div>
            <div>
                <a href="{{ $ncbi_link }}" target="_blank">
                    <button class="btn btn-lg scilife-ncbi-ena-btn">
                        Open assembly record in the NCBI <i class="bi bi-box-arrow-up-right"></i>
                    </button>
                </a>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col scilife-subsection">
            {{ $contentp1 | safeHTML }}
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-2">

        <!-- assembly data table -->
        <div class="col scilife-subsection">
            <h3>Assembly Statistics</h3>

        {{ if .Params.stats_data_path }}
            <div class="table-responsive">
                <table id="assemblyTable" class="table table-hover table-bordered">

                <thead class="table-light">
                    <tr>
                    <th scope="col">Statistic</th>
                    <th scope="col">Value</th>
                    </tr>
                </thead>

                <tbody class="table-responsive">
                    {{ range $idx, $statistic := $stats_contents.assembly }}
                        {{ range $stat_name, $value := $statistic }}
                        <tr>
                            <td> {{ $stat_name }} </td>
                            <td> {{ $value }} </td>
                        </tr>
                        {{ end }}
                    {{ end }}
                </tbody>

                </table>
            </div>
        {{ else }}
            <p> No assembly data has been provided for this species </p>
        {{ end }}
        </div>

        <!-- annotation data table -->
        <div class="col scilife-subsection">
            <h3> Annotation Statistics</h3>

        {{ if .Params.stats_data_path }}
            <div class="table-responsive">
                <table id="annotationTable" class="table table-hover table-bordered">

                <thead class="table-light">
                    <tr>
                    <th scope="col">Statistic</th>
                    <th scope="col">Value</th>
                    </tr>
                </thead>

                <tbody class="table-responsive">
                    {{ range $idx, $statistic := $stats_contents.annotation }}
                        {{ range $stat_name, $value := $statistic }}
                        <tr>
                            <td> {{ $stat_name }} </td>
                            <td> {{ $value }} </td>
                        </tr>
                        {{ end }}
                    {{ end }}
                </tbody>

                </table>
            </div>
        {{ else }}
            <p> No annotation data has been provided for this species </p>
        {{ end }}
        </div>

    </div>
</div>


<div class="row">
    <div class="col scilife-subsection">
        {{ $contentp2 | safeHTML }}
    </div>
</div>

{{ partial "last_updated.html" . }}

{{ end }}

{{ define "scripts" }}

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha384-wsqsSADZR1YRBEZ4/kKHNSmU+aX8ojbnKUMN4RyD3jDkxw5mHtoe2z/T/n4l56U/" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" integrity="sha384-zxIWrl6qlRc1gf8mdRhQEZUap0s1QKZYh7n91f2nDSoExwY+xIrewx7nOxbdsIkB" crossorigin="anonymous">
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js" integrity="sha384-ZAOiyxyrmrFcIJwxqcjS1FW7bDREPo2tjhgp2r3Bqm0YGGZw60y+JVznuSfcEDg/" crossorigin="anonymous"></script>

<script>
    $(document).ready( function () {
        $('#assemblyTable').DataTable({
      paging: false,
      info: false,
      searching: false,
      ordering: false
    });
        $('#annotationTable').DataTable({
      paging: false,
      info: false,
      searching: false,
      ordering: false
    });
    } );
</script>

{{ end }}
