{{ define "main" }}

{{ partial "species_title.html" . }}

{{ partial "species_nav.html" . }}

<div class="container mt-3">
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            [Code for browser page for an individual species]
        </div>
    </div>
</div>


{{ if .Params.jbrowse }}
    <!-- this get the config file path from the browser.md file for each species -->
    <div id="jbrowse_app" data-config-file-path="{{ .Params.config_file }}"></div>
    <script type="module" src="/js/genomeView.js"></script>
{{ end }}


{{ partial "last_updated.html" . }}

{{ end }}
