{{ define "main" }}

{{ partial "species_title.html" . }}

{{ partial "species_nav.html" . }}

<div class="container mt-3">
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col" id="root"></div>
    </div>
</div>


{{ if .Params.jbrowse }}
    <!-- this get the config file path from the browser.md file for each species -->
<script defer="defer"
	src="/browser/static/js/main.85262b6a.js"></script>
<script>
  window.__jbrowseConfigPath = {{ .Params.config_file }};
</script>
{{ end }}


{{ partial "last_updated.html" . }}

{{ end }}
